nav{
    width: 100vw;
    display:flex;
    justify-content: space-between;
    background-color: #001219;
    align-items:center;
}

.reactflix{
    cursor:pointer
}

nav h1{
   color: #fff; 
   margin-left: 40px;
}

nav a{
    text-decoration: none;
}

nav span{
    cursor: pointer;
    margin-left: 40px;
    font-size: .85rem;
    text-transform: uppercase;
}

nav span:hover{
    color: #fff;
    border-bottom: 2px solid #EE9B00;
    padding-bottom: 5px;
}

.nav__avatar{
    margin-top: 5px;
    margin-right: 30px;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.mobile-search{
    display: none;
}

.nav-options{
    display: flex;
    align-items: center;
}

#heading{
    color: #ff206e;
}

.input-group{
    display: flex;
    align-items: center;
}

.input-group input{
    position: relative;
    width: 323px;
    height: 35px;
    border-radius: 5px;
    border: none;
    margin-right: 30px;
}

.input-group input[type='text']{
    padding-left: 17px;
    font-size: 1rem;
    background-color: black;
    color: white;
}

.input-group input:focus{
    outline: none;
}

.input-group input::placeholder{
    color: white;
    margin-left: 30px;
}

.navBarColor span{
    color: rgb(211, 56, 56)
}

.navBarColor span:hover{
    border-bottom: 2px solid #bb1885;
    padding-bottom: 5px;
}

#Color-switcher{
    position: relative;
    margin-right: 15px;
    margin-top: 2px;
    background-color: #413E44;
    width: 80px;
    height: 40px;
    border-radius: 20px;
}

#Color-switcher-mover{
    position:absolute;
    left: 5px;
    top: 4px;
    background-color: #fff;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    transition: .6s;
}

#Color-switcher-moved{
    position: absolute;
    background-color: #fff;
    left: 40px;
    top: 4px;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    transition: .6s;
}

#search-icons{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;

}

.DarkTheme{
    color:#fff;
}
.LightThemeClose{
    color: #ff206e;
}


.search-box{
    margin-right: 5px;
    display: flex;
    vertical-align: middle;
}



.input-icon{
    margin-top: 1px;
    margin-right: 10px;
    cursor: pointer;

}

@media screen and (max-width:960px){
    nav h1{
        margin-left: 0px;
    }

    #Color-switcher{
        width: 60px;
        height: 30px;
    }

    #Color-switcher-mover{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        transition: .6s;
    }

    #Color-switcher-moved{
        width: 20px;
        height: 20px;
        left: 35px;
    }

    .nav__avatar{
        margin-right: 10px;
    }

    .bars-icon{
        color: white;
        margin-top: 2px;
        font-size: 2.3rem;
        margin-left: 5px;
        margin-right: 10px;
    }

    #search-icons{
        display: none;
    }

    .search-box{
        display: none;
    }

    .nav-menu{
        display:flex;
        flex-direction:column;
        width: 100%;
        height: 200px;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5 ease;
        justify-content: center;
        align-items: center;
    }

    .nav-menu > a {
        position: relative;
        font-size: 2.5rem;
        align-items: center;
        justify-content: center;
        margin-right: auto;
        width: 90%;
        height: 100%;
    }
 
    .nav-menu.active{
        background-color: #001219;
        width: 100%;
        padding-bottom: 30px;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }
    
    .mobile-search{
        width: 100%;
        margin-left: 70px;
        display: block;
    }

    #mobile-box{
        width: 300px;
        border-radius: 10px;
        padding: 10px 10px;
    }
}