.player{
    top: 0;
    width:100%;
    height: 500px;
    z-index:2;
}

.modalBackground{
    position: fixed;
    width: 100%;
    height: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: dark;
    overflow-y: auto;
    z-index: 1000;
}

.modalContainer{
    margin-top: 45px;
    top: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    z-index: 1000;
    height: 700px;
    width: 1200px;
    background-color: rgb(29, 28, 28);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    flex-direction: column;
    position: absolute; 
}

#youtubeplayer{
    position: absolute;
    border-radius: 20px;
    top: 0;
    height: 500px;
    width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.movie-info{
    display:flex;
    flex-direction: row;
    height:200px;
    width: 1200px;
}

.title{
    width: 600px;
    margin-left: 20px;
}

.cast{
    margin-left: 80px;
    width: 500px;
    text-align: left;

}

#h3name{
    display:inline;
}

#name{
    display: inline;
    font-size: 19px;
}

