.player{
    position: absolute;
    margin-top: 120px;
    z-index:999;
}
.Container{
    display: none;
    position:absolute;
    z-index: 100;
}

#youtubeplayer{
    position: fixed;
    right : 20%;
    bottom : 5%;
}