.player{
    top: 0;
    width:100%;
    height: 500px;
    z-index:2;
}

.modalBackground{
    position: fixed;
    width: 100%;
    height: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: dark;
    overflow-y: auto;
    z-index: 1000;
}

.modalContainer{
    margin-top: 25px;
    top: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    z-index: 1000;
    height: 1350px;
    width: 1200px;
    background-color: rgb(29, 28, 28);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    flex-direction: column;
    position: absolute; 
    overflow-x: hidden;
}

#youtubeplayer{
    position: absolute;
    border-radius: 20px;
    top: 0;
    height: 500px;
    width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.movie-info{
    display:flex;
    flex-direction: row;
    padding-top: 20px;
    height:150px;
    width: 1200px;
}

.title{
    width: 600px;
    margin-left: 20px;
    padding-bottom: 20px;
}

.title > h3 , .title > p {
    margin-bottom: 10px;
}

.title > p{
    margin-left: 5px;
}

.cast{
    width: 500px;
    text-align: left;
    margin-left: 80px;
}

#h3name{
    display:inline;
}

#name{
    display: inline;
    font-size: 19px;
}

.poster{
    display:flex;
    flex-direction: column;
    width: 1200px;
    height: 550px;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;

}

.poster::-webkit-scrollbar{
    display:none;
}

.poster-img{
    display:flex;
    flex-direction: row;
}

.credits > h3{
    margin-left: 20px;
    margin-top: 5px;
}

#credits-img{
    display: flex;
    flex-direction: row;
    object-fit: cover;
    height: 400px;
    width: 300px;
}

#credits-name{
    text-align:center;
    color: rgb(170, 140, 140);

}

#credits-character{
    text-align:center;
    color: white;
}

@media screen and (max-width: 960px){
    .modalContainer{
        width: 350px;
    }

    #youtubeplayer{
        width:100%;
        height: 250px;
    }
    
    .player{
        height: 250px;
        z-index:2;
    }

    .movie-info{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width:100%;
        height: 400px;
    }
    
    .title{
        width: 90%;
        margin-left: 5px;
    }

    .title >p{
        width: 100%;
        margin-left: 0px;
        text-align: justify;
   
    }

    .cast{
        width: 90%;
        text-align: left;
        margin-left: 5px;
        font-size: 0.85rem;
    }

    #name{
        font-size: 15px;
    }

    .credits{
        font-size: 0.85rem;
    }

}
