body{
    overflow-x: hidden;
}

.movies-container{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
}

.mainBgColor{
    background-color: #181803;
    width: 100%;
}

.secondaryBgColor{
    background-color: #fff;
    width: 100%;
}

.movies-container img{
    object-fit: cover;
    width: 350px;
    height: 550px;
    margin: 25px 0px 4px 15px;
    border-radius: 20px;
}

.movies-container h3, .movies-container img{
    cursor: pointer;
    transition: .7s;
}

.movies-container img:hover{
    transform: scale(1.05);

}

.mainColor{
    color: #fff;
    display: flex;
    justify-content: center;
    font-size: 1rem;
}

#Nothing{
    display: none;
}

.secondaryColor{
    color: #ff206e;
    width: 90%;
    display: flex;
    justify-content:center;
    font-size: 1rem;

}

#container{
    position: relative;
}

#playIcon{
    position: absolute;
    bottom: 60px;
    left:20px;
    visibility: visible;
    z-index: 100;
    cursor: pointer;
    transition : transform 450ms;
}

#playIcon:hover{
    transform: scale(1.30)
    
}

#infoIcon{
    position: absolute;
    bottom: 60px;
    left:60px;
    visibility: visible;
    z-index: 100;
    cursor: pointer;
    transition : transform 450ms;
}

#infoIcon:hover{
    transform: scale(1.30)
}


#smaller-Text{
    display: flex;
    width: 100%;
    font-size:12px;
}

.DarkTheme{
    color: #fff;
}

.LightThemeCLose{
    color: #ff206e;
}

#hide{
    display: none;
}
#NoContainer{
    opacity: 0.35;
}

#Exit1{
    cursor: pointer;
    position: fixed;
    margin-left: 65%;
    margin-top: 40px;
    z-index: 1000;

}

#Nothing{
    color: green;
}